<section  id="as-seen-on-sec" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
	<div class="main-heading typo-britanica-h2 text-center">
		As seen on
	</div>
	<div class="container-fluid">
		<div class="finance-logo">
			<span><img class="img-fluid" src="../images/tech-crunch.svg" alt="" /></span>
			<span><img class="img-fluid" src="../images/yahoo-finance.svg" alt="" /></span>
			<span><img class="img-fluid" src="../images/coin-gecko.svg" alt="" /></span>
			<span><img class="img-fluid" src="../images/yahoo-finance.svg" alt="" /></span>
			<span><img class="img-fluid" src="../images/tech-crunch.svg" alt="" /></span>
		</div>
	</div>
</section>