<section id="features-sec" class="features-gradient" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
	<div class="container-fluid">
		<div class="card-deck row">
			<div class="col-12 col-md-4 space-between">
				<div class="card card-bg" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
					<div class="img-container" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
						<img src="../images/streaming-img.svg" class="img-top" alt="..." />
					</div>
					<div class="soon typo-general-sans-14">
						<font class="live-icon"></font><span>Live</span>
					</div>
				
					<div class="card-body">
						<h2 class="card-title typo-clash-grotesk-h2">
							Streaming
						</h2>
						<p class="card-text typo-general-sans-h6">
							While many phones can play downloaded pre-recorded video content, 
							"streaming" allows immediate playback.
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 space-between">
				<div class="card card-bg" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
					<div class="img-container" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
						<img src="../images/social-tokens-img.svg" class="img-top" alt="..." />
					</div>
					<div class="soon typo-general-sans-14">
						<span>Coming Soon</span>
					</div>				
					<div class="card-body">
						<h2 class="card-title typo-clash-grotesk-h2">
							Social Tokens
						</h2>
						<p class="card-text typo-general-sans-h6">
							These are a type of cryptocurrency that is based around a brand, 
							community, or influencer.
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 space-between">
				<div class="card card-bg" data-aos="fade-up" data-aos-duration="1500" data-aos-once="true">
					<div class="img-container" data-aos="fade-up" data-aos-duration="1500" data-aos-once="true">
						<img src="../images/nfts-img.svg" class="img-top" alt="..." />
						<div class="current-bid typo-general-sans-14">
							<p>Current bid</p>
							<p class="color-green">0.3 RTH</p>
						</div>					
					</div>
					<div class="soon typo-general-sans-14">
						<span><strong>Coming Soon</strong></span>
					</div>				
					<div class="card-body">
						<h2 class="card-title typo-clash-grotesk-h2">
							NFTs
						</h2>
						<p class="card-text typo-general-sans-h6">
							A non-fungible token is a unit of data stored on a digital ledger. 
							It’s unique and can’t be replaced with something else.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>