<title>
  PolyGame - Tag Line
</title>
<!-- Search Engine -->
<meta
  name="description"
  content="PolyGame Description"
/>
<meta name="image" content="/images/opengraph/polygen-1024.jpg" />
<!-- Schema.org for Google -->
<meta
  itemprop="name"
  content="PolyGame - Tag Line"
/>
<meta
  itemprop="description"
  content="PolyGame Description"
/>
<meta itemprop="image" content="/images/opengraph/polygen-1024.jpg" />
<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta
  name="twitter:title"
  content="PolyGame - TagLine"
/>
<meta
  name="twitter:description"
  content="PolyGame Description"
/>
<meta name="twitter:site" content="@ThePolyGame" />
<meta name="twitter:image:src" content="/images/opengraph/polygen-1024.jpg" />
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta
  name="og:title"
  content="PolyGame - Tag"
/>
<meta
  name="og:description"
  content="PolyGame Description."
/>
<meta name="og:image" content="/images/opengraph/polygen-1024.jpg" />
<meta name="og:url" content="https://PolyGame.com/" />
<meta name="og:site_name" content="PolyGame" />
<meta name="og:type" content="website" />
