<title>
  PolyGen - Tag Line
</title>
<!-- Search Engine -->
<meta
  name="description"
  content="PolyGen Description"
/>
<meta name="image" content="/images/opengraph/polygen-1024.jpg" />
<!-- Schema.org for Google -->
<meta
  itemprop="name"
  content="PolyGen - Tag Line"
/>
<meta
  itemprop="description"
  content="PolyGen Description"
/>
<meta itemprop="image" content="/images/opengraph/polygen-1024.jpg" />
<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta
  name="twitter:title"
  content="PolyGen - TagLine"
/>
<meta
  name="twitter:description"
  content="PolyGen Description"
/>
<meta name="twitter:site" content="@ThePolyGen" />
<meta name="twitter:image:src" content="/images/opengraph/polygen-1024.jpg" />
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta
  name="og:title"
  content="PolyGen - Tag"
/>
<meta
  name="og:description"
  content="PolyGen Description."
/>
<meta name="og:image" content="/images/opengraph/polygen-1024.jpg" />
<meta name="og:url" content="https://polygen.com/" />
<meta name="og:site_name" content="PolyGen" />
<meta name="og:type" content="website" />
