<title>
  PolyGem - Tag Line
</title>
<!-- Search Engine -->
<meta
  name="description"
  content="PolyGem Description"
/>
<meta name="image" content="/images/opengraph/polygen-1024.jpg" />
<!-- Schema.org for Google -->
<meta
  itemprop="name"
  content="PolyGem - Tag Line"
/>
<meta
  itemprop="description"
  content="PolyGem Description"
/>
<meta itemprop="image" content="/images/opengraph/polygen-1024.jpg" />
<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta
  name="twitter:title"
  content="PolyGem - TagLine"
/>
<meta
  name="twitter:description"
  content="PolyGem Description"
/>
<meta name="twitter:site" content="@ThePolyGem" />
<meta name="twitter:image:src" content="/images/opengraph/polygen-1024.jpg" />
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta
  name="og:title"
  content="PolyGem - Tag"
/>
<meta
  name="og:description"
  content="PolyGem Description."
/>
<meta name="og:image" content="/images/opengraph/polygen-1024.jpg" />
<meta name="og:url" content="https://PolyGem.com/" />
<meta name="og:site_name" content="PolyGem" />
<meta name="og:type" content="website" />
