<section id="hero-sec" class="hero-game-img">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6">
				<div class="live-in">
					<p class="timer typo-britanica-h6">
						<span class="text-uppercase">Going live in</span> 
						<span class="typo-spacial-h5">
							<font class="color-green">06</font> Hours  
							<font class="color-green">33</font> Minutes 
							<font class="color-green">09</font> Seconds
						</span>
					</p>
					<h1 class="main-heading typo-clash-grotesk-h1 text-uppercase">
						Watch it.<br>
						Live it.<br>
						Own it.
					</h1>
					<p class="sub-heading-text typo-general-sans-h3">
						PolyGen is a mobile game streaming and NFT platform allowing gamers to create 
						virtual NFTs of key moments in their livestreams and interact with their followers 
						in real time. 
					</p>
					<div class="hero-link">
						<a  class="btn gray-btn btn-md typo-general-sans-h5 color-green d-lg-inline-block d-block" target="_blank" href="#">Join us on Discord</a>
						<a  class="btn gray-btn btn-md typo-general-sans-h5 d-lg-inline-block d-block follow-link" target="_blank" href="#">Follow us on Twitter</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="game-img text-center d-none d-lg-block">
					<img class="img-fluid" src="../images/hero-game-img.svg" alt="" />
				</div>
			</div>				
		</div>
	</div>
</section>