<!doctype html>
<html lang="en">

	<head>		
		{{> ../../partials/head }}
		<link rel="icon" type="image/png" href="/Favicon.png">
		<link rel="icon" type="image/svg" href="/Favicon.svg">
	</head>

	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-56V6VF9"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		{{> ../../partials/header }}
		{{> ./hero.hbs }}
		{{> ./features.hbs }}		
		{{> ./the-pegen-coin.hbs }}
		{{> ./streaming.hbs }}
		{{> ./social-tokens.hbs }}
		{{> ./nft-marketplace.hbs }}
		{{> ./team.hbs }}
		{{> ./as-seen-on.hbs }}		
		{{> ./roadmap.hbs }}		
		{{> ../../partials/footer }}
		
		<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==" crossorigin="anonymous"></script>
	</body>
</html>