<section id="nft-marketplace-sec" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
	<div class="container-fluid">
		<div class="content-center space-between">
			<div class="content-part" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
				<h5 class="main-heading text-uppercase typo-clash-grotesk-h1">
					NFT Marketplace
				</h5>
				<p class="sub-heading-text typo-britanica-h2">
					Collect and Trade NFTs of your favourite streamer.
				</p>
				<div class="img-part d-block d-sm-none  d-lg-none" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
					<img class="img-fluid" src="../images/nft-market-img.svg"  alt="" />
				</div>
				<div class="typo-general-sans-h2">
					<p class="normal-text">
						Streamers can create NFTs of either key moments of 
						their stream or of themselves. Collect, Trade and 
						Showcase your collection.
					</p>
				</div>
			</div>
			<div class="img-part d-none d-sm-block  d-lg-block" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
				<img class="img-fluid" src="../images/nft-market-img.svg"  alt="" />
			</div>
		</div>
	</div>
</section>