<section  id="roadmap-sec" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
	<div class="container-fluid">
		<div class="main-heading typo-clash-grotesk-h1  text-center">
			Roadmap
		</div>
		<div class="row no-gutters">
			<div class="col-lg-3  col-md-3" data-aos="fade-right" data-aos-duration="500" data-aos-once="true">
				<div class="btn gray-btn d-lg-inline-block d-sm-inline-block d-block typo-general-sans-h1 roadmap-title"><span class="color-green">Q1</span> 2021</div>
				<p class="normal-text typo-general-sans-h4">
					Launched streaming platfrom in Indonesia - Jan 2021.
				</p>
			</div>
			<div class="col-lg-3  col-md-3" data-aos="fade-right" data-aos-duration="1000" data-aos-once="true">
				<div class="btn gray-btn d-lg-inline-block d-sm-inline-block d-block typo-general-sans-h1 roadmap-title"><span class="color-green">Q2</span> 2021</div>
				<p class="normal-text typo-general-sans-h4">
					Ad Monetization.
					Market Expansion - Malaysia.
				</p>
			</div>
			<div class="col-lg-3  col-md-3" data-aos="fade-right" data-aos-duration="1500" data-aos-once="true">
				<div class="btn gray-btn d-lg-inline-block d-sm-inline-block d-block typo-general-sans-h1 roadmap-title"><span class="color-green">Q3</span> 2021</div>
				<p class="normal-text typo-general-sans-h4">
					Launched watch & stream to earn program.
					Pre sale of  PGEM Utility Tokens.
					Wallet Integration and start of development.
				</p>
			</div>
			<div class="col-lg-3  col-md-3 road-map-last-blck" data-aos="fade-right" data-aos-duration="2000" data-aos-once="true">
				<div class="btn gray-btn d-lg-inline-block d-sm-inline-block d-block typo-general-sans-h1 roadmap-title roadmap-title-last"><span class="color-green">Q4</span> 2021</div>
				<p class="normal-text typo-general-sans-h4">
					Beta  NFT Marketplace + Fan token exchange Launch.
					IDO - Pancakeswap and Uniswap.
					Market Expansion - Thailand & Phillipines.
			</div>	
		</div>
		<div class="row no-gutters">
			<div class="col-lg-3  col-md-3" data-aos="fade-right" data-aos-duration="500" data-aos-once="true">
				<div class="btn gray-btn d-lg-inline-block d-sm-inline-block d-block typo-general-sans-h1 roadmap-title"><span class="color-green">Q1</span> 2022</div>
				<p class="normal-text typo-general-sans-h4">
					NFT Marketplace + Fan token exchange full Launch.
					Market Expansion - Singapore & Vietnam.
				</p>
			</div>
			<div class="col-lg-3  col-md-3" data-aos="fade-right" data-aos-duration="1000" data-aos-once="true">
				<div class="btn gray-btn d-lg-inline-block d-sm-inline-block d-block typo-general-sans-h1 roadmap-title"><span class="color-green">Q2</span> 2022</div>
				<p class="normal-text typo-general-sans-h4">
					Binance and other major exchange listing.
					Esport Tournaments and own IPs.
					Market Expansion - Korea & Japan.
				</p>
			</div>
			<div class="col-lg-3  col-md-3" data-aos="fade-right" data-aos-duration="1500" data-aos-once="true">
				<div class="btn gray-btn d-lg-inline-block d-sm-inline-block d-block typo-general-sans-h1 roadmap-title"><span class="color-green">Q3</span> 2022</div>
				<p class="normal-text typo-general-sans-h4">
					Community Moderation.
					2D & 3D tool collabration for streamers
					Market Expansion - India & Taiwan
				</p>
			</div>
			<div class="col-lg-3  col-md-3 road-map-last-blck" data-aos="fade-right" data-aos-duration="2000" data-aos-once="true">
				<div class="btn gray-btn d-lg-inline-block d-sm-inline-block d-block typo-general-sans-h1 roadmap-title roadmap-title-last"><span class="color-green">Q4</span> 2022</div>
				<p class="normal-text typo-general-sans-h4">
					Special events for PGEM token holder.
					Airdrop & Staking.
					Market Expansion - Middle East & Africa
			</div>	
		</div>
	</div>
</section>