<section id="streaming-sec" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
	<div class="container-fluid">
		<div class="content-center space-between">
			<div class="content-part" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
				<h5 class="main-heading text-uppercase typo-clash-grotesk-h1">
					PolyGame Streaming
				</h5>
				<p class="sub-heading-text typo-britanica-h2">
					PolyGame is the first streaming platform that is
				</p>
				<div class="img-part d-block d-sm-none  d-lg-none" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
					<img class="img-fluid" src="../images/streaming-game-img.svg"  alt="" />
				</div>
				<div class="bullet-list typo-general-sans-h2">
					<p class="bullet-text-after">Transparent Revenue share model</p>
					<p class="bullet-text-after">Stream and watch to earn</p>
					<p class="bullet-text-after">Community First platform</p>
					<p class="bullet-text-after">AI driven Highlights</p>
				</div>
			</div>
			<div class="img-part d-none d-sm-block  d-lg-block" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
				<img class="img-fluid" src="../images/streaming-game-img.svg"  alt="" />
			</div>
		</div>
	</div>
</section>