<section  id="team-sec" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
	<div class="container-fluid">
		<div class="main-heading typo-clash-grotesk-h1 text-center">
			Team & Advisors
		</div>
		<div id="carouselExample" class="carousel slide" data-ride="carousel" data-interval="false">
			<div class="carousel-inner  row">
				<div class="d-block d-sm-none  d-lg-none">
					<ol class="carousel-indicators">
						<li data-target="#carouselExample" data-slide-to="0" class="active"></li>
						<li data-target="#carouselExample" data-slide-to="1"></li>
						<li data-target="#carouselExample" data-slide-to="2"></li>
						<li data-target="#carouselExample" data-slide-to="3"></li>
					</ol>
				</div>
				<div class="carousel-item col-md-3 card active">
					<a target="_blank" href="#">
					<img class="img-fluid mx-auto d-block" src="../images/Sushil.jpeg" alt="" />
					</a>
					<div class="card-body">
						<h5 class="card-title typo-britanica-h3">
							Sushil Chhillar
						</h5>
						<p class="card-text typo-general-sans-h4">
							CEO
						</p>
						<div class="social-link">
							<a href="#"  target="_blank"><i class="fab fa-twitter"></i></a>
							<a href="#"  target="_blank"><i class="fab fa-telegram-plane"></i></a>
							<a href="#"  target="_blank"><i class="fab fa-linkedin"></i></a>
						</div>
					</div>
				</div>
				<div class="carousel-item col-md-3 card">
					<a target="_blank" href="#">
					<img class="img-fluid mx-auto d-block" src="../images/Ishaan.jpeg" alt="" />
					</a>
					<div class="card-body">
						<h5 class="card-title typo-britanica-h3">
							Ishaan Singh
						</h5>
						<p class="card-text typo-general-sans-h4">
							COO
						</p>
						<div class="social-link">
							<a href="#"  target="_blank"><i class="fab fa-twitter"></i></a>
							<a href="#"  target="_blank"><i class="fab fa-telegram-plane"></i></a>
							<a href="#"  target="_blank"><i class="fab fa-linkedin"></i></a>
						</div>
					</div>
				</div>
				<div class="carousel-item col-md-3 card">
					<a target="_blank" href="#">
					<img class="img-fluid mx-auto d-block" src="../images/Jessica.jpeg" alt="" />
					</a>
					<div class="card-body">
						<h5 class="card-title typo-britanica-h3">
							Jessica
						</h5>
						<p class="card-text typo-general-sans-h4">
							Talent Manager
						</p>
						<div class="social-link">
							<a href="#"  target="_blank"><i class="fab fa-twitter"></i></a>
							<a href="#"  target="_blank"><i class="fab fa-telegram-plane"></i></a>
							<a href="#"  target="_blank"><i class="fab fa-linkedin"></i></a>
						</div>
					</div>
				</div>
				<div class="carousel-item col-md-3 card">
					<a target="_blank" href="#">
					<img class="img-fluid mx-auto d-block" src="../images/Daniel.jpeg" alt="" />
					</a>
					<div class="card-body">
						<h5 class="card-title typo-britanica-h3">
							Daniel
						</h5>
						<p class="card-text typo-general-sans-h4">
							Digital Marketing
						</p>
						<div class="social-link">
							<a href="#"  target="_blank"><i class="fab fa-twitter"></i></a>
							<a href="#"  target="_blank"><i class="fab fa-telegram-plane"></i></a>
							<a href="#"  target="_blank"><i class="fab fa-linkedin"></i></a>
						</div>
					</div>
				</div>
				<div class="carousel-item col-md-3 card">
					<a target="_blank" href="#">
					<img class="img-fluid mx-auto d-block" src="../images/Monich.jpeg" alt="" />
					</a>
					<div class="card-body">
						<h5 class="card-title typo-britanica-h3">
							Monich
						</h5>
						<p class="card-text typo-general-sans-h4">
							Business Development Manager
						</p>
						<div class="social-link">
							<a href="#"  target="_blank"><i class="fab fa-twitter"></i></a>
							<a href="#"  target="_blank"><i class="fab fa-telegram-plane"></i></a>
							<a href="#"  target="_blank"><i class="fab fa-linkedin"></i></a>
						</div>
					</div>
				</div>
				<div class="carousel-item col-md-3 card">
					<a target="_blank" href="#">
					<img class="img-fluid mx-auto d-block" src="../images/Christian.jpg" alt="" />
					</a>
					<div class="card-body">
						<h5 class="card-title typo-britanica-h3">
							Christian Williams
						</h5>
						<p class="card-text typo-general-sans-h4">
							Talent Manager
						</p>
						<div class="social-link">
							<a href="#"  target="_blank"><i class="fab fa-twitter"></i></a>
							<a href="#"  target="_blank"><i class="fab fa-telegram-plane"></i></a>
							<a href="#"  target="_blank"><i class="fab fa-linkedin"></i></a>
						</div>
					</div>
				</div>
				<div class="carousel-item col-md-3 card">
					<a target="_blank" href="#">
					<img class="img-fluid mx-auto d-block" src="../images/miranda-roherick.svg" alt="" />
					</a>
					<div class="card-body">
						<h5 class="card-title typo-britanica-h3">
							Sajal Gupta
						</h5>
						<p class="card-text typo-general-sans-h4">
							Product Advisor
						</p>
						<div class="social-link">
							<a href="#"  target="_blank"><i class="fab fa-twitter"></i></a>
							<a href="#"  target="_blank"><i class="fab fa-telegram-plane"></i></a>
							<a href="#"  target="_blank"><i class="fab fa-linkedin"></i></a>
						</div>
					</div>
				</div>
				<div class="carousel-item col-md-3 card">
					<a target="_blank" href="#">
					<img class="img-fluid mx-auto d-block" src="../images/Jamie.jpeg" alt="" />
					</a>
					<div class="card-body">
						<h5 class="card-title typo-britanica-h3">
							Jamie Lewin
						</h5>
						<p class="card-text typo-general-sans-h4">
							Investor & Advisor
						</p>
						<div class="social-link">
							<a href="#"  target="_blank"><i class="fab fa-twitter"></i></a>
							<a href="#"  target="_blank"><i class="fab fa-telegram-plane"></i></a>
							<a href="#"  target="_blank"><i class="fab fa-linkedin"></i></a>
						</div>
					</div>
				</div>
				<div class="carousel-item col-md-3 card">
					<a target="_blank" href="#">
					<img class="img-fluid mx-auto d-block" src="../images/jonathan-minori.svg" alt="" />
					</a>
					<div class="card-body">
						<h5 class="card-title typo-britanica-h3">
							Manish Agarwal
						</h5>
						<p class="card-text typo-general-sans-h4">
							Investor & Advisor
						</p>
						<div class="social-link">
							<a href="#"  target="_blank"><i class="fab fa-twitter"></i></a>
							<a href="#"  target="_blank"><i class="fab fa-telegram-plane"></i></a>
							<a href="#"  target="_blank"><i class="fab fa-linkedin"></i></a>
						</div>
					</div>
				</div>
				<div class="carousel-item col-md-3 card">
					<a target="_blank" href="#">
					<img class="img-fluid mx-auto d-block" src="../images/Steven.jpeg" alt="" />
					</a>
					<div class="card-body">
						<h5 class="card-title typo-britanica-h3">
							Steven Enamakel
						</h5>
						<p class="card-text typo-general-sans-h4">
							Tech Consultant
						</p>
						<div class="social-link">
							<a href="#"  target="_blank"><i class="fab fa-twitter"></i></a>
							<a href="#"  target="_blank"><i class="fab fa-telegram-plane"></i></a>
							<a href="#"  target="_blank"><i class="fab fa-linkedin"></i></a>
						</div>
					</div>
				</div>
				<div class="carousel-item col-md-3 card">
					<a target="_blank" href="#">
					<img class="img-fluid mx-auto d-block" src="../images/Pranay.jpeg" alt="" />
					</a>
					<div class="card-body">
						<h5 class="card-title typo-britanica-h3">
							Pranay Sanghavi 
						</h5>
						<p class="card-text typo-general-sans-h4">
							Advisor
						</p>
						<div class="social-link">
							<a href="#"  target="_blank"><i class="fab fa-twitter"></i></a>
							<a href="#"  target="_blank"><i class="fab fa-telegram-plane"></i></a>
							<a href="#"  target="_blank"><i class="fab fa-linkedin"></i></a>
						</div>
					</div>
				</div>
				<div class="carousel-item col-md-3 card">
					<a target="_blank" href="#">
					<img class="img-fluid mx-auto d-block" src="../images/Olivier.jpeg" alt="" />
					</a>
					<div class="card-body">
						<h5 class="card-title typo-britanica-h3">
							Oliver Budgen 
						</h5>
						<p class="card-text typo-general-sans-h4">
							Marketing & PR Consultant
						</p>
						<div class="social-link">
							<a href="#"  target="_blank"><i class="fab fa-twitter"></i></a>
							<a href="#"  target="_blank"><i class="fab fa-telegram-plane"></i></a>
							<a href="#"  target="_blank"><i class="fab fa-linkedin"></i></a>
						</div>
					</div>
				</div>
				<div class="carousel-item col-md-3 card">
					<a target="_blank" href="#">
					<img class="img-fluid mx-auto d-block" src="../images/Tom.jpeg" alt="" />
					</a>
					<div class="card-body">
						<h5 class="card-title typo-britanica-h3">
							Tom 
						</h5>
						<p class="card-text typo-general-sans-h4">
							Investor & Advisor
						</p>
						<div class="social-link">
							<a href="#"  target="_blank"><i class="fab fa-twitter"></i></a>
							<a href="#"  target="_blank"><i class="fab fa-telegram-plane"></i></a>
							<a href="#"  target="_blank"><i class="fab fa-linkedin"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="d-block d-sm-none  d-lg-none">
				<a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next text-faded" href="#carouselExample" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div>
</section>
<script>
	$('.carousel').carousel({
	  interval: true,
	});	
</script>