<section  id="team-sec" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
<div class="container-fluid">
	<div class="main-heading typo-clash-grotesk-h1 text-center">
		Team & Advisors
	</div>
		<div id="demo" class="carousel slide" data-ride="carousel" data-interval="false">
	<!-- The slideshow -->
		<div class="carousel-inner">
			<div class="carousel-item active">
				<div class="card-deck row">
					<div class="col-6 col-sm-6 col-md-3 card">
						<a target="_blank" href="#">
							<img class="img-fluid" src="../images/alex-maceda.svg" alt="" />
						</a>

						<div class="card-body">
							<h5 class="card-title typo-britanica-h3">
								Alex Maceda
							</h5>
							<p class="card-text typo-general-sans-h4">
								Founder & CEO
							</p>
							<div class="social-link">
								<a href="#"  target="_blank"><i class="fab fa-twitter"></i></a>
								<a href="#"  target="_blank"><i class="fab fa-telegram-plane"></i></a>
								<a href="#"  target="_blank"><i class="fab fa-linkedin"></i></a>
							</div>
						</div>						
					</div>
					<div class="col-6 col-sm-6 col-md-3 card">
						<a target="_blank" href="#">
							<img class="img-fluid" src="../images/danny-carubia.svg" alt="" />
						</a>

						<div class="card-body">
							<h5 class="card-title typo-britanica-h3">
								Alex Maceda
							</h5>
							<p class="card-text typo-general-sans-h4">
								Founder & CEO
							</p>
							<div class="social-link">
								<a href="#"  target="_blank"><i class="fab fa-twitter"></i></a>
								<a href="#"  target="_blank"><i class="fab fa-telegram-plane"></i></a>
								<a href="#"  target="_blank"><i class="fab fa-linkedin"></i></a>
							</div>
						</div>						
					</div>					
					<div class="col-6 col-sm-6 col-md-3 card">
						<a target="_blank" href="#">
							<img class="img-fluid" src="../images/jonathan-minori.svg" alt="" />
						</a>

						<div class="card-body">
							<h5 class="card-title typo-britanica-h3">
								Alex Maceda
							</h5>
							<p class="card-text typo-general-sans-h4">
								Founder & CEO
							</p>
							<div class="social-link">
								<a href="#"  target="_blank"><i class="fab fa-twitter"></i></a>
								<a href="#"  target="_blank"><i class="fab fa-telegram-plane"></i></a>
								<a href="#"  target="_blank"><i class="fab fa-linkedin"></i></a>
							</div>
						</div>						
					</div>
					<div class="col-6 col-sm-6 col-md-3 card">
						<a target="_blank" href="#">
							<img class="img-fluid" src="../images/miranda-roherick.svg" alt="" />
						</a>

						<div class="card-body">
							<h5 class="card-title typo-britanica-h3">
								Alex Maceda
							</h5>
							<p class="card-text typo-general-sans-h4">
								Founder & CEO
							</p>
							<div class="social-link">
								<a href="#"  target="_blank"><i class="fab fa-twitter"></i></a>
								<a href="#"  target="_blank"><i class="fab fa-telegram-plane"></i></a>
								<a href="#"  target="_blank"><i class="fab fa-linkedin"></i></a>
							</div>
						</div>						
					</div>	
				</div>	
			</div>

			<div class="carousel-item">
				<div class="card-deck row">
					<div class="col-6 col-sm-6 col-md-3 card">
						<a target="_blank" href="#">
							<img class="img-fluid" src="../images/alex-maceda.svg" alt="" />
						</a>

						<div class="card-body">
							<h5 class="card-title typo-britanica-h3">
								Alex Maceda
							</h5>
							<p class="card-text typo-general-sans-h4">
								Founder & CEO
							</p>
							<div class="social-link">
								<a href="#"  target="_blank"><i class="fab fa-twitter"></i></a>
								<a href="#"  target="_blank"><i class="fab fa-telegram-plane"></i></a>
								<a href="#"  target="_blank"><i class="fab fa-linkedin"></i></a>
							</div>
						</div>						
					</div>				
					<div class="col-6 col-sm-6 col-md-3 card">
						<a target="_blank" href="#">
							<img class="img-fluid" src="../images/danny-carubia.svg" alt="" />
						</a>

						<div class="card-body">
							<h5 class="card-title typo-britanica-h3">
								Alex Maceda
							</h5>
							<p class="card-text typo-general-sans-h4">
								Founder & CEO
							</p>
							<div class="social-link">
								<a href="#"  target="_blank"><i class="fab fa-twitter"></i></a>
								<a href="#"  target="_blank"><i class="fab fa-telegram-plane"></i></a>
								<a href="#"  target="_blank"><i class="fab fa-linkedin"></i></a>
							</div>
						</div>						
					</div>
					<div class="col-6 col-sm-6 col-md-3 card">
						<a target="_blank" href="#">
							<img class="img-fluid" src="../images/jonathan-minori.svg" alt="" />
						</a>

						<div class="card-body">
							<h5 class="card-title typo-britanica-h3">
								Alex Maceda
							</h5>
							<p class="card-text typo-general-sans-h4">
								Founder & CEO
							</p>
							<div class="social-link">
								<a href="#"  target="_blank"><i class="fab fa-twitter"></i></a>
								<a href="#"  target="_blank"><i class="fab fa-telegram-plane"></i></a>
								<a href="#"  target="_blank"><i class="fab fa-linkedin"></i></a>
							</div>
						</div>						
					</div>						
					<div class="col-6 col-sm-6 col-md-3 card">
						<a target="_blank" href="#">
							<img class="img-fluid" src="../images/miranda-roherick.svg" alt="" />
						</a>

						<div class="card-body">
							<h5 class="card-title typo-britanica-h3">
								Alex Maceda
							</h5>
							<p class="card-text typo-general-sans-h4">
								Founder & CEO
							</p>
							<div class="social-link">
								<a href="#"  target="_blank"><i class="fab fa-twitter"></i></a>
								<a href="#"  target="_blank"><i class="fab fa-telegram-plane"></i></a>
								<a href="#"  target="_blank"><i class="fab fa-linkedin"></i></a>
							</div>
						</div>						
					</div>					
				</div>
			</div>
		</div>

	

		<!-- Left and right controls -->
		<a class="carousel-control-prev" href="#demo" data-slide="prev">
			<span class="carousel-control-prev-icon"></span>
		</a>
		<a class="carousel-control-next" href="#demo" data-slide="next">
			<span class="carousel-control-next-icon"></span>
		</a>		
	</div>
	</div>
</section>