<section id="the-pegen-coin-sec" class="the-pegen-coin-gradient" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
	<div class="container-fluid">
		<div class="content-center space-between">
			<div class="content-part" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
				<h5 class="main-heading typo-clash-grotesk-h1">
					The PGEN Coin
				</h5>
				<p class="sub-heading-text typo-britanica-extra-bold typo-britanica-h2">
					The PGEN token fuels the Polygen platform and allows users to:
				</p>
				<div class="bullet-list typo-general-sans-h2">
					<p class="bullet-text-after">Subcribe/Donate to streamers</p>
					<p class="bullet-text-after">Get exclusive Discounts</p>
					<p class="bullet-text-after">Participate/host tournaments</p>
					<p class="bullet-text-after">Purchase in-app stickers/gifts</p>
					<p class="bullet-text-after">Get exclusive access to NFTs</p>
				</div>
				<a class="btn gray-btn btn-md typo-general-sans-h5 d-lg-inline-block d-block" target="_blank" href="#">Read Whitepaper</a>
			</div>

			<div class="img-part" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
				<img class="img-fluid" src="../images/pegen-coin.svg"  alt="" />
			</div>
		</div>
	</div>
</section>