<section id="the-future-sec" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
	<div class="container-fluid">
		<h2 class="main-heading typo-britanica-h1 text-center">
			<font>The future is Gaming.</font> 
			<font>The future is NFT.</font> 
			<span class="color-green"><font>The future is PolyGem.</font></span>
		</h2>
		<form class="form-subscribe" action="">
			<div class="form-group typo-general-sans-h5">
				<label >Request Access</label>
				<input type="email" class="form-control theme-input typo-general-sans-h5" id="email" placeholder="samridh@gm|"  name="email">
				<button type="submit" class="submit-btn"></button>
			</div>
		</form>
	</div>
</section>