<section id="the-future-sec">
	<div class="container-fluid">
		<h2 class="main-heading typo-britanica-h1 text-center">
			The future is Gaming. The future is NFT. <span class="color-green">The future is PolyGen.</span>
		</h2>
		<form class="form-subscribe" action="">
			<div class="form-group typo-general-sans-h5">
				<label >Request Access</label>
				<input type="email" class="form-control theme-input typo-general-sans-h5" id="email" placeholder="samridh@gm|"  name="email">
				<button type="submit" class="submit-btn"></button>
			</div>
		</form>
	</div>
</section>