<section id="wording-sec" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
	<div class="typo-britanica-h1-72">
		<ul class="wording-chart">
			<li class="wording_row">
				<span class="wording_item_prev">Apex Legends</span>
				<a class="wording_link" href="javascript:void(0)">FreeFire</a>
				<span class="wording_item_post">
					<span class="wording">Teamfight</span>
					<span class="wording">Fortnite</span>
					<span class="wording">PUBG Mobile</span>			
				</span>
			</li>
			<li class="wording_row">
				<span class="wording_item_prev">Fortnite</span>
				<a class="wording_link" href="javascript:void(0)">PUBG Mobile</a>
				<span class="wording_item_post">
					<span class="wording">Tactics</span>
					<span class="wording">Mobile Legends</span>
					<span class="wording">Wild Rift</span>			
				</span>
			</li>
			<li class="wording_row">
				<span class="wording_item_prev">Tactics</span>
				<a class="wording_link" href="javascript:void(0)">Valorant</a>
				<span class="wording_item_post">
					<span class="wording">Mobile Legends</span>
					<span class="wording">Wild Rift</span>
					<span class="wording">Dota 2</span>			
				</span>
			</li>
			<li class="wording_row">
				<span class="wording_item_prev">PUBG Mobile</span>
				<a class="wording_link" href="javascript:void(0)">Tactics</a>
				<span class="wording_item_post">
					<span class="wording">Mobile Legends</span>
					<span class="wording">Wild Rift</span>								
				</span>
			</li>
			<li class="wording_row">
				<span class="wording_item_prev">Dota 2</span>
				<a class="wording_link" href="javascript:void(0)">Teamfight</a>
				<span class="wording_item_post">
					<span class="wording">Tactics</span>
					<span class="wording">Valorant</span>								
				</span>
			</li>
			<li class="wording_row">
				<span class="wording_item_prev">Teamfight</span>
				<a class="wording_link" href="javascript:void(0)">Wild Rift</a>
				<span class="wording_item_post">
					<span class="wording">Tactics</span>
					<span class="wording">Valorant</span>	
					<span class="wording">Mobile Legends</span>							
				</span>
			</li>
		</ul>
	</div>
</section>
<script>
	$('.wording_link').each(function(){
	       var span_text    = $(this).text();
		span_text = span_text.replace(" ", "-");
		$(this).addClass(span_text);
		
	      
	   });
</script>