{{! Footer }}
<footer>
	<div class="container-fluid">
		<div class="row" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			<div class="col-lg-6 col-md-5 fot-block">
				<div class="card-title footer-title typo-britanica-h1">
					PolyGame
				</div>
				<div class="footer-text typo-general-sans-14">
					Mint and buy NFTs, Support your favorite streamers via subs, 
					donations and tokens, post memes, discuss strategies 
					or just make friends. 
				</div>
			</div>
			<div class="col-lg-2 col-md-2 col-6 fot-block">
				<div class="card-title footer-title typo-britanica-h4">
					Product
				</div>
				<ul class="footer-link typo-general-sans-h5">
					<li><a  href="#">Streaming</a></li>
					<li><a  href="#">PolyGame NFT’s</a></li>
					<li><a  href="#">Fan Tokens</a></li>
					<li><a  href="#">PGAME Coin</a></li>
				</ul>
			</div>
			<div class="col-lg-2 col-md-2 col-6 fot-block">
				<div class="card-title footer-title typo-britanica-h4">
					Company
				</div>
				<ul class="footer-link typo-general-sans-h5">
					<li><a  href="#">About us</a></li>
					<li><a  href="#">Resources</a></li>
					<li><a  href="#">Contact us</a></li>
				</ul>
			</div>
			<div class="col-lg-2 col-md-3">
				<div class="card-title footer-title typo-britanica-h4 color-green">
					Connect
				</div>
				<ul class="footer-link social-items typo-general-sans-h5">
					<li><a  href="#"><i class="fab  fa-facebook"></i> Facebook</a></li>
					<li><a  href="#"><i class="fab  fa-twitter"></i> Twitter</a></li>
					<li><a  href="#"><i class="fab  fa-discord"></i> Discord</a></li>
					<li><a  href="#"><i class="fab  fa-telegram-plane"></i> Telegram</a></li>
					<li><a  href="#"><i class="fab  fa-youtube"></i> Youtube</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<div class="container-fluid d-flex footer-btm">
	<div class="opacity-text">			
		© 2021 PolyGame
	</div>
	<div class="ml-auto">	
		<a class="opacity-text"  href="#">Terms of Service</a>		
		<a class="opacity-text"  href="#">Privacy Policy</a>
	</div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
	$(".nav-icon").click(function(){
	 $('.nav-icon').toggleClass('toggler');
	});	
</script>