/*** Generic/Common styles ***/
p
  margin: 0
  padding: 0

li
  list-style: none
a
  outline: none
  text-decoration: none

a:hover
  outline: none
  text-decoration: none  
  
a.link-white
  color: $color-white

.opacity-text
  opacity: 0.4

.color-white
  color: $color-white
  
.color-black
  color: $color-black 

.color-green
  color: $color-green

.btn  
  font-weight: 600

.gray-btn
  background: linear-gradient(180deg, rgba(48, 48, 48, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%), #000000  
  mix-blend-mode: normal
  border: 2px solid #575757
  border-radius: 40px 
  text-align: center
  padding: 20px 63px  
  color: $color-white
  
.gray-btn:hover
  color: $color-green
  background: linear-gradient(180deg, rgba(61, 61, 61, 0.72) 0%, rgba(0, 0, 0, 0) 100%), #000000  

.green-btn 
  background: $color-green
  color: $color-black 

.green-btn:hover
  background: $color-white
  color: $color-green  

.normal-text
  line-height: 32px

.main-heading
  font-weight: 700
  font-style: normal    
  color: $color-white
  margin: 0
 
.card
  margin-left: 0
  margin-right: 0
  
.card-body
  padding: 23px 40px 48px 40px  

.card-deck .card
  margin-left: 0
  margin-right: 0

.card-deck .card
  margin-bottom: 15px

.card-bg
  background: $color-black
  border: none

.card-title
  font-style: normal
  font-weight: 600  
  color: $color-white
  margin-bottom: 0px
  

.card-text 
  font-style: normal
  font-weight: 400 
  color: $color-white
  line-height: 16px

.bullet-text-after 
  position: relative
  padding-left: 34px 

.bullet-text-after:after
  background: #fff
  width: 14px
  height: 14px
  content: ''
  display: inline-block
  position: absolute
  left: 0
  top: 5px
  
.content-center
  display: flex
  justify-content: center
  align-items: center  

.space-between
  justify-content: space-between
  display: flex

.space-around
  justify-content: space-around

.container
  position: relative

.content-part
  max-width: 600px

@media screen and (max-width: 667px) 
  .content-part
    padding-top: 50px

  .normal-text
    line-height: 24px    

@media (max-width: 740px)
    
  .main-heading, .card-title    
    line-height: 36px!important 

  .card-text
    line-height: inherit!important 
    
  .sub-heading
    font-size: 20px!important  
    
  .sub-heading-text  
    line-height: 24px!important  


@media only screen and ( min-width:768px) and (max-width:1270px )
  .normal-text
    line-height: 24px  
      
  .img-part
    padding: 0 15px

  .content-part
    max-width: 450px!important  