#hero-sec
  color: $color-white
  margin-top: 30px
  
  .typo-clash-grotesk-h1
    font-size: 116px 
    letter-spacing: 2px
	
  .sub-heading-text  
    padding-bottom: 44px
    line-height: 28px
    max-width: 640px
	
.hero-game-img
  background: url('../images/hero-line-grid.svg') no-repeat right top
  min-height: 680px

  .live-in
    padding-top: 88px    

  .timer
    padding-bottom: 16px
    line-height: 22px    

  .timer span:first-child
    color: #C4C4C4

  .timer span:first-child
    padding-right: 16px   

  .timer label
    padding-right: 8px       
    
  .main-heading 
    padding-bottom: 28px
    line-height: 105px


  .follow-link
    margin-left: 16px 
     
  .game-img    
    text-align: right
    padding-top: 130px
   
  .hero-link .btn
    min-width: 288px


  .hero-link .btn-br-1
    border: 1px solid #575757 
    background: linear-gradient(180deg, rgba(61, 61, 61, 0.72) 0%, rgba(0, 0, 0, 0) 100%), #000000
 
  .hero-link a:hover   
    color: $color-green 

  .hero-link a.color-green
    color: $color-green

  .hero-link a:hover.color-green
    color: $color-white  
      
@media screen and (max-width: 667px) 
  .hero-game-img .live-in
    padding-top: 25px
    
  .hero-game-img
    background : none

  .hero-game-img .follow-link
    margin-left: 0px     
    margin-top: 15px

  .timer span
    width: 100%
    display: block
    
@media (min-width: 768px) and (max-width: 1270px) 	
  .live-in .main-heading
    font-size: 60px
    
  .hero-game-img
    background-size: 50%

@media (min-width: 768px) and (max-width: 1400px)  
  .hero-game-img .hero-link .btn  
    min-width: inherit
    padding: 20px

@media only screen and ( min-width:768px) and (max-width:1270px )  
  .hero-game-img .hero-link .btn      
    display: inline-block !important 
    padding: 10px
	
  .hero-game-img .follow-link	
    margin-left: 5px
	
@media only screen and ( min-width:1300px) and (max-width:1500px )     
  #hero-sec .typo-clash-grotesk-h1
    font-size: 100px!important    
