#as-seen-on-sec
  color: $color-white
  margin-top: 184px
  padding-top: 80px
  border-bottom: 1px solid #1D1D1D
  background: #020202
  
  .main-heading
    color: #979797    
    padding-bottom: 47px
    border-bottom: 1px solid #1D1D1D    
	
  .finance-logo      
    display: flex
    justify-content: space-between
    align-items: center
    padding: 65px 0

  @media screen and (max-width: 667px) 
    .finance-logo span  
      padding: 0 5px

      
        


  

