#the-pegen-coin-sec
  color: $color-white
  margin-top: 150px

  .main-heading
    padding-bottom: 16px
    line-height: 80px

  .sub-heading-text  
    padding-bottom: 40px
    color: #959595
    line-height: 32px
    max-width: 560px

  .pgen-list
    padding-bottom: 40px 

  .bullet-text-after
    margin-bottom: 8px

  .bullet-text-after::after 
    background: url(../images/tringle.svg) no-repeat 0px 6px
    width: 18px
    height: 19px
    padding-bottom: 30px

  @media screen and (max-width: 640px)
    .content-center
      flex-direction: column 
    .img-part 
      padding: 20px 0
 

