#team-sec
  color: $color-white
  padding-top: 160px
  margin-top: 100px
  border-top: 1px solid #1D1D1D

  .main-heading
    padding-bottom: 80px 
    font-weight: 600

  .img-fluid  
    border-radius: 24px

  .card
    background: none
    border-radius: 8px    

  .card-body  
    padding: 24px 0 48px 0

  .card-title
    line-height: 36px

  .card-text  
    letter-spacing: 0.02em
    opacity: 0.64
    padding-bottom: 16px
    line-height: 32px

  .social-link a
    color: $color-white
    opacity: 0.64

  .social-link a:hover
    opacity: 1

  .social-link a:nth-child(2)    
    margin: 0px 8px 
    
  .carousel-control-next, .carousel-control-prev
    bottom: auto
    top: 110px

  .carousel-control-next-icon, .carousel-control-prev-icon
    height: 72px
    width: 72px

  .carousel-control-prev-icon      
    background: url('../images/prev-icon.svg') no-repeat 
  
  .carousel-control-prev 
    left: -151px

  .carousel-control-next-icon      
    background: url('../images/next-icon.svg') no-repeat 
    
  .carousel-control-next 
    right: -145px 

  .carousel-control-next  span
    background-position: right top 

@media screen and (min-width: 1400px)
  #team-sec .container-fluid  
    padding-left: 168px
    padding-right: 168px
    
@media only screen and ( min-width:768px) and (max-width:1270px )
  #team-sec .card-title
    line-height: 22px

@media only screen and ( max-width:1024px) 
  #team-sec .carousel-control-prev-icon, #team-sec .carousel-control-next-icon
    background-size: 50%

  #team-sec .carousel-control-prev
    left: 10px
    top: 64px
    width: auto

  #team-sec .carousel-control-next    
    right: 10px
    top: 64px
    width: auto