.typo-clash-grotesk-h1
  font-size: 72px 

.typo-clash-grotesk-h2
  font-size: 44px   

.typo-clash-grotesk-h1, .typo-clash-grotesk-h2
  font-family: $font-family-heading    

.typo-general-sans-h1
  font-size: 28px  

.typo-general-sans-h2
  font-size: 24px  
   
.typo-general-sans-h3
  font-size: 22px 

.typo-general-sans-h4
  font-size: 20px  
  
.typo-general-sans-h5
  font-size: 18px  

.typo-general-sans-h6
  font-size: 16px 

.typo-general-sans-14
  font-size: 14px 
  
.typo-britanica-h1
  font-size: 48px 

.typo-britanica-h2
  font-size: 28px

.typo-britanica-h3
  font-size: 24px  

.typo-britanica-h4
  font-size: 20px  
  
.typo-britanica-h5
  font-size: 16px  

.typo-britanica-h6
  font-size: 14px 

.typo-britanica-h1, .typo-britanica-h2, .typo-britanica-h3, .typo-britanica-h4, .typo-britanica-h5, .typo-britanica-h6
  font-family: $font-family-britanica-black  
  font-weight: 400

.typo-britanica-extra-bold
  font-family: $font-family-britanica-extra-bold  

@media screen and (max-width: 667px) 
  #hero-sec .typo-clash-grotesk-h1
    font-size: 60px!important
    line-height: 50px!important

  .typo-clash-grotesk-h1
    font-size: 40px 

  .typo-clash-grotesk-h2
    font-size: 28px       

  .typo-general-sans-h1
    font-size: 22px  

  .typo-general-sans-h2
    font-size: 20px  
    
  .typo-general-sans-h3
    font-size: 18px 
    
  .typo-general-sans-h4
    font-size: 16px  

  .typo-general-sans-h5
    font-size: 15px  

  .typo-general-sans-h6
    font-size: 14px         

  .typo-britanica-h1
    font-size: 38px 

  .typo-britanica-h2
    font-size: 18px  

  .typo-britanica-h3
    font-size: 18px  

  .typo-britanica-h4
    font-size: 16px 

  .typo-britanica-h5
    font-size: 14px   


@media only screen and ( min-width:768px) and (max-width:1270px )
  #hero-sec .typo-clash-grotesk-h1
    font-size: 70px!important
    line-height: 70px

  .typo-clash-grotesk-h1
    font-size: 45px

  .typo-clash-grotesk-h2
    font-size: 30px   

  .typo-clash-grotesk-h3
    font-size: 20px

  .typo-general-sans-h1
    font-size: 24px  

  .typo-general-sans-h2
    font-size: 20px  
    
  .typo-general-sans-h3
    font-size: 18px 

  .typo-general-sans-h4
    font-size: 16px  

  .typo-general-sans-h5
    font-size: 14px  

  .typo-general-sans-h6
    font-size: 14px 

  .typo-britanica-h1
    font-size: 42px 

  .typo-britanica-h2
    font-size: 22px

  .typo-britanica-h3
    font-size: 20px  

  .typo-britanica-h4
    font-size: 18px  
  
  .typo-britanica-h5
    font-size: 14px  

  .typo-britanica-h6
    font-size: 14px     